[submodule "zsh/oh-my-zsh"]
	path = .modules/zsh/oh-my-zsh
	url = https://github.com/robbyrussell/oh-my-zsh.git
[submodule "zsh/plugins/zsh-syntax-highlighting"]
	path = .modules/zsh/plugins/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
[submodule "zsh/plugins/zsh-completions"]
	path = .modules/zsh/plugins/zsh-completions
	url = https://github.com/zsh-users/zsh-completions.git
[submodule "zsh/plugins/zsh-autosuggestions"]
	path = .modules/zsh/plugins/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions.git
[submodule "nanorc"]
	path = .modules/nanorc
	url = https://github.com/scopatz/nanorc.git
