[submodule "submodules/zsh/oh-my-zsh"]
	path = submodules/zsh/oh-my-zsh
	url = https://github.com/robbyrussell/oh-my-zsh.git
[submodule "submodules/zsh/plugins/zsh-syntax-highlighting"]
	path = submodules/zsh/plugins/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
[submodule "submodules/zsh/plugins/zsh-completions"]
	path = submodules/zsh/plugins/zsh-completions
	url = https://github.com/zsh-users/zsh-completions.git
[submodule "submodules/zsh/plugins/zsh-autosuggestions"]
	path = submodules/zsh/plugins/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions.git
[submodule "submodules/gdb/pwndbg"]
	path = submodules/gdb/pwndbg
	url = https://github.com/pwndbg/pwndbg.git
[submodule "submodules/ls++"]
	path = submodules/ls++
	url = https://github.com/trapd00r/ls--.git
[submodule "submodules/hx"]
	path = submodules/hx
	url = https://github.com/krpors/hx.git
[submodule "submodules/movfuscator"]
	path = submodules/movfuscator
	url = https://github.com/xoreaxeaxeax/movfuscator.git
[submodule "submodules/dnscrypt-proxy"]
	path = submodules/dnscrypt-proxy
	url = https://github.com/jedisct1/dnscrypt-proxy.git
[submodule "submodules/upx"]
	path = submodules/upx
	url = https://github.com/upx/upx.git
