# Port & Listen Address & User
#--------------------------------------------------------------------------------
AddressFamily inet
AllowUsers ubuntu
ListenAddress 0.0.0.0
Port 22

# Protocol
#--------------------------------------------------------------------------------
Protocol 2
UseDNS no

# Hostkey
#--------------------------------------------------------------------------------
# HostKey /etc/ssh/ssh_host_dsa_key
# HostKey /etc/ssh/ssh_host_ecdsa_key
# HostKey /etc/ssh/ssh_host_ed25519_key
# HostKey /etc/ssh/ssh_host_rsa_key

# Banner
#--------------------------------------------------------------------------------
Banner /etc/ssh/banner.txt
PrintMotd no
PrintLastLog yes

# Authentication/Login
#--------------------------------------------------------------------------------
AuthorizedKeysFile %h/.ssh/authorized_keys
ChallengeResponseAuthentication no
ClientAliveInterval 30
DebianBanner no
FingerprintHash sha256
GSSAPIAuthentication no
GSSAPICleanupCredentials yes
GatewayPorts no
HostbasedAuthentication no
KerberosAuthentication no
KerberosOrLocalPasswd no
KerberosTicketCleanup yes
LoginGraceTime 30
PasswordAuthentication no
PubkeyAuthentication yes
UsePAM no

# Hardening Tweaks
#--------------------------------------------------------------------------------
# UseLogin no
# UsePrivilegeSeparation yes
AllowTcpForwarding no
Ciphers aes256-ctr,aes256-cbc,aes128-ctr,aes128-cbc,blowfish-cbc
Compression yes
IgnoreRhosts yes
IgnoreUserKnownHosts yes
MaxAuthTries 4
MaxSessions 10
MaxStartups 10:51:15
PermitEmptyPasswords no
PermitRootLogin no
PermitTunnel no
PermitUserEnvironment no
StrictModes yes
TCPKeepAlive yes
VersionAddendum none
X11Forwarding no

# Logging
#--------------------------------------------------------------------------------
LogLevel VERBOSE
PidFile /run/sshd.pid
SyslogFacility AUTH

# Subsystems
#--------------------------------------------------------------------------------
# Subsystem sftp /usr/lib/openssh/sftp-server
